<li>
	{{burgers}}

	<button class="change-devoure" data-id="{{id}}" data-newdevoure="{{eat}}">
		{{#if eat}}EATING TIME!{{else}}ALL EATEN!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>